/* CSS for default things */

window#waybar {
  background-color: rgba(0, 5, 0, 0.5);
  border-radius: 8px;

}
#workspaces {
  background-color: transparent;
  color: #dfdfdf;
}

#workspaces button {
  color: white;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  background: #64727D;
  border-bottom: 3px solid rgba(141, 200, 131, 1);
}
/*
#workspaces {
  margin: 0px;
  margin-left: 0px;
  margin-right: 2px;
  padding: 0px;
  background-color: transparent;
  color: #dfdfdf;
}

#workspaces button { 
  min-width: 0;
  min-height: 0;
  margin: 0px;
  margin-left: -2px;
  padding: 0px; 
  background-color: transparent;
  border-radius: 4px;
  font-family: "Monacode Neon", auto, auto;
  font-size: 0;
  font-weight: bold;
}

#workspaces button.occupied,
#workspaces button.focused,
#workspaces button.urgent {
  padding-left: 24px;
  padding-right: 23px;
  margin-left: 1px;
  font-size: 16px;
}

#workspaces button.occupied {
  background-color: transparent;
  color: #dfdfdf;
}
#workspaces button.focused {
  background-color: #dfdfdf;
  color: #181818;
}
#workspaces button.urgent {
  background-color: #ff8f40;
  color: #dfdfdf;
}
*/
#window {
  margin: 0px;
  margin-left: 6px;
  margin-right: 4px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: "Monaspace Neon NF", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}

#waybar.empty #window { /* no active window makes window title disappear */
  background-color: transparent;
  background: none;
}

/* green underlines */
#cpu, #temperature, #memory, #battery, #backlight, #pulseaudio {
  border-bottom: 3px solid rgba(141, 200, 131, 1);
  border-radius: 8px;
}
/* margins */
#cpu, #temperature, #memory, #battery, #backlight {
  margin-left: 4px;
  margin-right: 10px
}

#layout {
  color: #c82f1b;
  padding: 10px;
}

#keymode {
  margin-right: 16px;
}

#clock {
  margin: 0px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Monaspace Xenon NF", auto, auto;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: #dfdfdf;
}

#tray {
  margin: 0px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Monaspace Neon NF", auto, auto;
  font-size: 12px;
  background-color: transparent;
  color: #dfdfdf;
}

#memory {
  margin: 0px;
  padding: 0px;
  font-family: "Monaspace Neon NF", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}
/*
#cpu {
  margin-left: 0px;
  margin-right: 4px;
}

#temperature {
  margin-left: 4px;
  margin-right: 8px;
}

#memory {
  margin-left: 8px;
  margin-right: 16px;
}

#battery {
  background-color: transparent;
  margin-left: 4px;
  margin-right: 8px;
}
*/
#pipewire {
  margin: 0px;
  margin-left: 2px;
  margin-right: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: #dfdfdf;
  color: #181818;
}

/*#network {
  margin: 0px;
  margin-left: 6px;
  margin-right: 4px;
  padding: 0px;
  font-family: "FiraCode Nerd Font", auto, auto;
  font-size: 14px;
  background-color: transparent;
  color: #dfdfdf;
}*/

/* Custom */

#custom-separator {
  margin: 0px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 0px;
  font-family: "Monaspace Neon NF", auto, auto;
  font-size: 16px;
  background-color: transparent;
  color: #dfdfdf;
}

/* Tooltips */

tooltip {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

tooltip label {
  color: #dfdfdf;
  font-family: "Monaspace Neon NF", auto, auto;
  font-size: 14px;
}


#media_player {
    color: rgba(141, 200, 131, 1);
 
}

#media_player .button {
    color: white;
    background: transparent;
    border-width: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-shadow: none;
}

#media_player .play-button{
}

#media_player .prev-button {
}

#media_player .next-button {
}

#media_player .players {
     color: white;
}

#media_player .title {
     color: white;
}
